
<aside id="sidebar" style="margin-top:40px">

   <% theme.widgets.forEach(function(widget) { %>
        <%- partial('widget/' + widget) %>
    <% }) %>
    <div id="toTop" class="fa fa-angle-up"></div>
</aside>
</div>