<div id="search-form-wrap">
<% if (theme.search.insight) { %>
    <form class="search-form">
        <input type="text" class="ins-search-input search-form-input" placeholder="<%= __('搜索') %>" />
        <button type="submit" class="search-form-submit"></button>
    </form>
    <%- partial('search/insight') %>

<% } %>
</div>